image: ghcr.io/olix0r/ort:v0.2.1

# # If the protocol ports are unset (or set to 0), then the load deployment won't be created and
# the service won't expose the port.
protocols:
  grpc:
    enabled: false
    port: 8070
    loadFlags: {}
  http:
    enabled: true
    port: 8080
    loadFlags: {}
  tcp:
    enabled: false
    port: 8090
    loadFlags: {}

load:
  log: ort=debug
  replicas: 1
  threads: 1
  linkerd: {inject: disabled}
  flags:
    concurrencyLimit: 1
    requestLimit: 1
    requestLimitWindow: 1s

server:
  log: ort=debug
  threads: 1
  services: 1
  replicas: 1
  split: false
  linkerd: {}
  flags: {}
  configs: {}

linkerd:
  inject: enabled
  config: {}
    #proxyImage: ...
    #proxyVersion: ...
