image: ghcr.io/olix0r/ort:v0.1.12

# # If the protocol ports are unset (or set to 0), then the load deployment won't be created and
# the service won't expose the port.
protocols:
  grpc:
    enabled: true
    port: 8070
    loadFlags: {}
  http:
    enabled: true
    port: 8080
    loadFlags: {}
  tcp:
    enabled: false
    port: 8090
    loadFlags:
      requestsPerClient: 100

load:
  #log: info
  replicas: 1
  threads: 3
  linkerd: {}
  flags: {}
    #requestsPerClient: 1
    #concurrencyLimit: 0
    #requestLimit: 0
    #requestLimitWindow: 1s
    #responseSizes: 0=1024,100=1048576

server:
  #log: debug
  threads: 1
  services: 1
  replicas: 1
  split: false
  linkerd: {}
  flags: {}
  configs: {}

linkerd:
  inject: enabled
  config: {}
    #proxyImage: ...
    #proxyVersion: ...
