[workspace]
members = [
    ".",
    "core",
    "grpc",
    "http",
    "load",
    "server",
    "tcp",
]

[package]
name = "ort"
version = "0.1.13"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
grpc-fmt = ["ort-load/grpc-fmt", "ort-server/grpc-fmt"]

[dependencies]
num_cpus = "1"
ort-load = { path = "./load" }
ort-server = { path = "./server" }
structopt = "0.3"
tokio = { version = "0.2", features = ["macros", "rt-threaded", "time"] }
tracing-subscriber = "0.2"
tracing = "0.1"
