[package]
name = "ort-http"
version = "0.1.0"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[dependencies]
async-trait = "0.1"
http = "0.2"
hyper = "0.13.3"
ort-core = { path = "../core" }
prost = "0.6"
prost-types = "0.6"
rand = { version = "0.7", features = ["small_rng"] }
tokio = { version = "0.2", features = ["time"] }
tracing = "0.1"
tracing-futures = "0.2"
