[package]
name = "ort-core"
version = "0.1.0"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
deser = ["serde", "bytes/serde"]

[dependencies]
bytes = "0.5"
async-trait = "0.1"
#rand = { version = "0.7", features = ["small_rng"] }
serde = { version = "1.0", features = ["derive"], optional = true }
#tokio = { version = "0.2", features = ["time"] }
#tokio-compat-02 = "0.1"
#tracing = "0.1"
#tracing-futures = "0.2"
