[package]
name = "ort-core"
version = "0.1.0"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
deser = ["serde", "bytes/serde"]

[dependencies]
async-trait = "0.1"
bytes = "0.5"
indexmap = "1.0"
rand = "0.7"
regex = "1"
serde = { version = "1.0", features = ["derive"], optional = true }
tokio = { version = "0.2", features = ["macros", "sync", "time"] }
tracing = "0.1"
#tracing-futures = "0.2"
