[package]
name = "ort-grpc"
version = "0.1.0"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
# Generate code that is formatted.
rustfmt = ["tonic-build/rustfmt"]

[dependencies]
async-trait = "0.1"
futures = "0.3"
http = "0.2"
linkerd2-drain = { git = "https://github.com/linkerd/linkerd2-proxy", branch = "main" }
ort-core = { path = "../core" }
prost = "0.6"
prost-types = "0.6"
tokio = { version = "0.2", features = ["time"] }
tonic = { version = "0.3", default-features = false, features = ["prost", "codegen", "transport"] }
tracing = "0.1"
tracing-futures = "0.2"

[build-dependencies]
tonic-build = { version = "0.3", features = ["prost", "transport"], default-features = false }
