[package]
name = "ort-grpc"
version = "0.1.0"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false
license = "Apache-2.0"

[features]
# Generate code that is formatted.
rustfmt = ["tonic-build/rustfmt"]

[dependencies]
async-trait = "0.1"
drain = "0.0.1"
futures = "0.3"
http = "0.2"
ort-core = { path = "../core" }
prost = "0.7"
prost-types = "0.7"
tokio = { version = "1", features = ["time"] }
tonic = { version = "0.4", default-features = false, features = ["prost", "codegen", "transport"] }
tracing = "0.1"
tracing-futures = "0.2"

[build-dependencies]
tonic-build = { version = "0.4", features = ["prost", "transport"], default-features = false }
