[package]
name = "ort-server"
version = "0.1.13"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
grpc-fmt = ["ort-grpc/rustfmt"]

[dependencies]
async-trait = "0.1"
bytes = "0.5"
futures = "0.3"
linkerd2-drain = { git = "https://github.com/linkerd/linkerd2-proxy", branch = "main" }
ort-core = { path = "../core" }
ort-grpc = { path = "../grpc" }
ort-http = { path = "../http" }
ort-tcp = { path = "../tcp" }
rand =  "0.7"
structopt = "0.3"
tokio = { version = "0.2", features = ["macros", "signal", "time"] }
tonic = { version = "0.3", default-features = false }
tracing = "0.1"
