[package]
name = "ort-server"
version = "0.1.8"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
rustfmt = ["ort-grpc/rustfmt"]

[dependencies]
async-trait = "0.1"
bytes = "0.5"
ort-core = { path = "../core" }
ort-grpc = { path = "../grpc" }
ort-http = { path = "../http" }
rand = { version = "0.7", features = ["small_rng"] }
structopt = "0.3"
tokio = { version = "0.2", features = ["macros", "signal", "time"] }
tonic = { version = "0.3", default-features = false }
tracing = "0.1"
