[package]
name = "ort-load"
version = "0.1.8"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
grpc-fmt = ["ort-grpc/rustfmt"]

[dependencies]
async-trait = "0.1"
futures = "0.3"
hdrhistogram = "7.1"
hyper = "0.13.3"
indexmap = "1.0"
ort-core = { path = "../core" }
ort-grpc = { path = "../grpc" }
ort-http = { path = "../http" }
ort-tcp = { path = "../tcp" }
rand = { version = "0.7", features = ["small_rng"] }
regex = "1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3"
tokio = { version = "0.2", features = ["macros", "signal", "sync", "time"] }
tracing = "0.1"
tracing-futures = "0.2"
