[package]
name = "ort-load"
version = "0.1.12"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"
publish = false

[features]
grpc-fmt = ["ort-grpc/rustfmt"]

[dependencies]
async-trait = "0.1"
futures = "0.3"
http = "0.2"
hyper = "0.13.3"
ort-core = { path = "../core" }
ort-grpc = { path = "../grpc" }
ort-http = { path = "../http" }
ort-tcp = { path = "../tcp" }
linkerd2-metrics = { git = "https://github.com/linkerd/linkerd2-proxy", branch = "ver/metrics-histogram-summary", features = ["summary"] }
parking_lot = "0.10"
rand = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3"
tokio = { version = "0.2", features = ["macros", "signal", "sync", "time"] }
tracing = "0.1"
tracing-futures = "0.2"
